body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#f2f2f2;
}
input.submit{
    background-color:cornflowerblue;
    font-weight:bold;
    height: 25x;
    width: 40px;
    color:#fff
}
[id="editor"]{
    height: 600px;
    width: 1000px;
}
[id="toolbar"]{
    background-color:#336699;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    line-height:64px;
}

[id="mainpart"]{
    background-color:rgba(255, 255, 255,1);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
    text-align:center;
    line-height:max-content;
}

.search-line {
    position: absolute;
    left: 62px;
    bottom: 10px;
    width: 0px;
    height: 2px;
    background-color: rgb(251, 121, 0);
    transition: 0.3s;
}
.search-box {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: white;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #222;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: 0.4s;
}
.search-btn {
    color: #888888;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.search-box:hover .search-txt {
    width: 200px;
    padding: 0 12px;
}
.search-box:hover .search-btn {
    background-color: #fff;
    animation: rotate 0.4s linear;
}
.search-txt:focus {
    width: 200px;
    padding: 0 12px;
}

.search-txt:focus + .search-line {
    width: 200px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
[id="mainpart"] {
    margin-left: 0rem;
    margin-top: 1rem;
  }
  h1.title {
    position: absolute;
    top: 5px;
    font-size: 20px;
  }
  h2.title {
    position: absolute;
    left: 64px;
    bottom: 6px;
    font-size: 18px;
  }
  p.passage {
    left: 0px;
    font-size: 14px;
    text-indent:2em;
  }
  p.name{
    font-size: 8px;
  }
  div.tag {
    font-size: 12px;
  }
  .main {
    width: 1048px;
    height: min-content;
    line-height: 40px;
    margin: 0 auto;
  }
  .mainl {
    position: relative;
    width: 796px;
  }
  .mainr {
    position: relative;
    width: 228px;
  }
  a {
    display: inline-block;
    height: min-content;
  }
  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: skyblue;
    text-decoration: none;
  }
  a:active {
    color: blue;
    text-decoration: none;
  }
  a.circle {
    border-radius: 100%;
    overflow: hidden;
    width: 48px;
    height: 48px;
  }
  div.circle{
    border-radius: 100%;
    overflow: hidden;
    width: 160px;
    height: 160px;
  }
  [id="circle_page"]{
    border-radius: 100%;
    overflow: hidden;
    width: 96px;
    height: 96px;
  }
  .circle img {
    height: 100%;
  }
  :root{
    --primary-color:royalblue;
  }
  .button{
    padding: 5px 16px;
    color: #000000d9;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    border-radius: 2px;
    line-height: 1.4;
    box-shadow: 0 2px #00000004;
    cursor: pointer;
    transition: .3s;
    height:30px;
    width:150px;
  }
  .button:hover{
    color: var(--primary-color);
    border-color: currentColor;
  }
  .button::after{
    /*其他样式*/
    opacity: 0;
    box-shadow: 0 0 0 6px var(--primary-color);
    transition: .3s;
  }
  /*点击*/
  .button:active::after{
    box-shadow: none;
    opacity: 0.4;
    transition: 0s; /*取消过渡*/
  }
  .UName{
    position: absolute;
    font-size: 12px;
    text-align: left;
    top:8px;
    left:64px;
  }
  .UName_comments{
    position: absolute;
    font-size: 18px;
    text-align: left;
    top:-2px;
    left:64px;
  }
	.imgs img{
    width: 780px;
    height: 482px;
  }
  /* 显示一张图片的宽高 */
  .box{
    width: 780px;
    height: 482px;
    border: none;
    overflow: hidden;
    margin: 0 auto;
  }
  .box .imgs{
     width: 2271px;	
     height: 500px;
     /* 图片不换行 */
     white-space: nowrap;
     /* =================== */
     animation: mybox 6s steps(3) infinite;
  }
  
  @keyframes mybox{
    /* ================== */
    0%{
      transform: translateX(0);
    }
    
    100%{
      transform: translateX(-2271px);
    }
  }
  