<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页-珠峰中途营地</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/official_style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='icon/css/font-awesome.css')}}" />
  </head>
  <body>
    <!--头顶-->
  <div id="toolbar" style="
        position: fixed;
        top: 0rem;
        left: 0rem;
        min-width: 100%;
        height: 64px;
        z-index: 1993;
      "
    >
      <div style="display: flex">
      <div style="margin: auto; position: relative; width: 1176px; height: 64px">
        <a href="/" style="position: absolute; top: 8px; left: 0px"><img
            src="{{url_for('static', filename='pics/logo.png')}}" alt="回到中途营地" height="48" /></a>
          </p>
        {% if current_user.is_authenticated %}
        <a class="circle" href="" style="position: absolute; top: 8px; right: 0px"><img
            src="{{url_for('static', filename='potraits/'+[current_user.UID]|join+'.jpg')}}" alt="我的主页" height="48" /></a>
        {% else %}
        <a class="circle" href="" style="position: absolute; top: 8px; right: 0px"><img
            src="{{url_for('static', filename='pics/Lys_head_portrait.jpg')}}" alt="我的主页" height="48" /></a>
        {% endif %}
        </div>
      </div>
    </div>
    <!--搜索框-->>
    <form target="_self" method="post">
      <div class="search-box">
        <a class="search-btn" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <input type="text" class="search-txt" placeholder="搜索" name="search_text" />
        <div class="search-line"></div>
      </div>
    </form>

    <div class="main">
      <div style="position: absolute; margin-top: 64px; width: 1048px">
        
        
        <!--文章本体-->
        <div
          id="leftpart"
          style="
            position: absolute;
            top: 0px;
            left: 0px;
            width: 796px;
            z-index: 1000;
          "
        >
          <div id="mainpart" class="mainl">
            <div
            style="
              margin-top: 2px;
              margin-bottom: 2px;
              margin-left: 2px;
              margin-right: 2px;
            "
          >
            <div id="content"></div>
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            <script>
              document.getElementById('content').innerHTML =
                marked.parse('# {{passage.PTitle}}\n\n{{passage.PContent}}');
            </script>
            

          


          <!--make comments-->
          <div id="mainpart" class="mainl" style="height:fit-content;">
            <form target="_self" method="post">
              <textarea type="text" name="commentscontent"
                style="position:relative;width: 764px;height: 7em; top: 16px;"></textarea>
          
              <div style="margin: 0 auto; width: 200px">
                <input class="submit" id="btn" type="submit" value="发表" />
              </div>
            </form>
          </div>

          <!--comments-->
          {% for comment in comments %}
          <div id="mainpart" class="mainl" style="height:fit-content; position: relative;">
            <a class="circle" href="{{url_for('userPage', name = comment.user.UName)}}" style="position: absolute; top: 8px; left: 8px"
            ><img src="{{url_for('static', filename='potraits/'+ [comment.user.UID]|join +'.jpg')}}" alt="主页" height="48"
          /></a>
              <a href="{{url_for('userPage', name = comment.user.UName)}}" style="text-align: left;">
                <p class="UName_comments" style="position: absolute; left: 64px;">
                  {{comment.user.UName}}
                </p>
              </a>
              <!--detailed-->
              <p class="UName_comments" style="position: relative;">
              {{comment.CContent}}
              </p>
          </div>
              {% endfor %}
        </div>

        </div>


        <div
          id="rightpart"
          style="
            position: absolute;
            top: 0px;
            right: 0px;
            width: 228px;
            z-index: 1000;
          "
        >
        
      </div>



    </div>
    </div>
  </body>
</html>
