<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首页-珠峰中途营地</title>
	<link rel="stylesheet" href="{{url_for('static',filename='CSS/official_style.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='icon/css/font-awesome.css')}}" />
    <script>
      var dis_alt=false
      function display_alter()
      {
        var obj =  document.querySelector('.alter');
        if(dis_alt==false)
        {obj.style.cssText="top:232px;text-align: center; display:grid";
        dis_alt=true}
        else
        {
        obj.style.cssText="top:232px;text-align: center; display:none";
        dis_alt=false}
      }
    </script>
  </head>
  <body>
    <!--头顶-->
    <div
      id="toolbar"
      style="
        position: fixed;
        top: 0rem;
        left: 0rem;
        min-width: 100%;
        height: 64px;
        z-index: 1993;
      "
    >
      <div style="display: flex">
        <div
          style="margin: auto; position: relative; width: 1176px; height: 64px"
        >
            <a href="/" style="position: absolute; top: 8px; left: 0px"
              ><img src="{{url_for('static',filename='pics/logo.png')}}" alt="回到中途营地" height="48"
            /></a>
            {% if current_user.is_authenticated %}
		<a class="circle" href="{{url_for('userPage', name = current_user.UName)}}" style="position: absolute; top: 8px; right: 0px"><img
                src="{{url_for('static', filename='potraits/'+[current_user.UID]|join+'.jpg')}}" alt="我的主页" height="48" /></a>
            {% else %}
            <a class="circle" href="" style="position: absolute; top: 8px; right: 0px"><img
                src="{{url_for('static', filename='pics/Lys_head_portrait.jpg')}}" alt="我的主页" height="48" /></a>
            {% endif %}
            
        </div>
      </div>
    </div>
    <!--搜索框-->
    <form target="_self" method="post">
      <div class="search-box">
        <a class="search-btn" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <input type="text" class="search-txt" placeholder="搜索" name="search_text" />
        <div class="search-line"></div>
      </div>
    </form>

    <div class="main">
      <div style="position: absolute; margin-top: 64px; width: 1048px">
    <div class="main">
        <div style="position: absolute; margin-top: 64px; width: 1048px">
            <div id="mainpart" style="            width:1048px;
            height:216px;
            background: black url({{url_for('static',filename='pics/background_test.png')}}) no-repeat center center;
            background-size: contain;">
    <div id="circle_page" class="circle" style="position: relative; left:8px; top: 112px;">
    <img src=
    "{{url_for('static',filename='potraits/'+UID+'.jpg')}}" 
    alt="我的主页" height="96px"
/></div>
<div id="Uname" style="position: relative; left:112px; bottom: 24px;">
<p style="font-size:40px;color: #fff; text-align: left;">{{user.UName}}</p>  
</div>
<div id="Uname" style="position: relative; left:112px; bottom: 64px;">
  <p style="font-size:18px;color: #fff; text-align: left;">{{user.UMoto}}</p>  
  </div>
  <div id="Userpage_buttons" style="position: relative; left:288px; bottom: 100px;">
  <a href=""></a><button type="button"class="button"><div style="color: #fff;">编辑我的主页</div></button></a>
  <button type="button"class="button" onclick="display_alter()"><div style="color: #fff;">修改个人信息</div></button>
  <a href="{{url_for('passageEditor')}}"><button type="button"class="button"><div style="color: #fff;">博客上传</div></button></a>
  </div>
            </div>

            <div
            id="leftpart"
            style="
              position: absolute;
              top: 232px;
              left: 0px;
              width: 796px;
              z-index: 1000;
            "
          >
          <div id="mainpart" class="mainl">
                <div>
                  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
            
                  <div id="content"></div>

                    <script>
                      document.getElementById('content').innerHTML =
                        marked.parse('{{user.UIntro}}');
                    </script>
              </div>
          </div></div>
          <div
          id="rightpart"
          style="
            position: absolute;
            top: 0px;
            right: 0px;
            width: 228px;
            z-index: 1000;
          "
        >
          <!--编辑个人信息-->
          <div id="mainpart" class="mainr" style="top:232px;text-align: center;">
                      <div
                        class="alter"
                        style="
                          margin-top: 2px;
                          margin-bottom: 2px;
                          margin-left: 2px;
                          margin-right: 2px;
                          text-align: center;
                          display: none;
                        "
                      >
                        <form target="_self" method="post" style="text-align:center" enctype=multipart/form-data>
                          <div style="text-align:justify;">
                          用户名：<input
                            type="text"
                            name="UName"
                            style="width: 144px"
                          /><br />
                          签名：<input
                            type="text"
                            name="UMoto"
                            style="width: 144px"
                          /><br />
                          头像：<input
                          type="file"
                          name="UHead"
                          style="width: 144px"
                        /><br />
                            <div><font color="red">
                              <p>
                              {% for msg in get_flashed_messages() %}
                              {{msg}}
                              {% endfor %}
                              </font></p>
                            </div>
                          </div>
                          <div style="margin: 0 auto; width: 200px">
                            <input class="submit" id="btn" type="submit" value="修改" />
                          </div>
                        </form>
                      </div>
                    </div>
        </div>
        </div>
       </div>

  </body>
</html>
